$white: #ffffff;
$black: #000000;
$brand-green: #01CC60;
$brand-dark-green: #093725;
$background-green: #0c6140;
$gray: #b3b3b1;

.home {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;

	&__side {
		margin-left: 130px;
	}

	&__search {
		margin-top: 50px;

		&_input {
			border: 1px solid $black;
			border-radius: 20px;
			height: 40px;
			padding: 5px 20px;
			width: 350px;
		}
	}

	&__title {
		color: $brand-green;
		font-family: 'Lato', sans-serif;
		font-size: 44px;
		font-weight: 900;
		margin-top: 40px;
		text-decoration: underline;
	}
}
