$white: #ffffff;
$black: #000000;
$brand-green: #01CC60;
$brand-dark-green: #093725;
$background-green: #0c6140;
$gray: #b3b3b1;

.navbar {
    background-color: $brand-dark-green;

    &__wrapper {
        height: 100px;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links_wrapper {
        display: flex;
        align-items: center;
    }

    &__link {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: $brand-green;

        &:not(:last-child) {
            margin-right: 65px;
        }
    }
}
